body {
  background-color: #E2C867;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 10%
}
h2, h3 {
  font-family: arial;
  color: black;
}
.coffee {
  border-style: solid;
  border-width: medium;
  border-color: white;
  border-radius: 20px;
}
#arrow {
  border-width: medium;
  border-color: black;
  border-style: solid;
  border-radius: 50px;
}
#mission {
  line-height: 1.6em;
  border-style: solid;
  border-width: thick;
  border-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 500px;
  margin-left: 30px;
}
.Guarantee {
  border-color: white;
  border-width: 2px;
  border-style: dashed;
  background-color: #a7cece;
  padding: 3px;
  padding-left: 50px;
  margin: 10px auto;
  line-height: 1.6em;
  border-radius: 10px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 80px;
  max-width: 500px;
  text-align: center;
  /* float: right; */
}
a:hover {
  color:;
  text-decoration: underline;
}
a.visit:link {

}
a.visit:visited  {
  color: red;
}
a.visit:hover {
  text-decoration: underline;
}
.song {
  font-style: italic;
}
.artist {
  font-weight: bold;
}
#add {
  position: fixed;
  top: 300px;
  right: 2px;
}
