table {
  border-width: medium;
  border-color: black;
  border-style: solid;
  /* border-radius: 15px; */
  border-spacing: 0px;
  border-collapse: collapse;
}
td {
  border-width: medium;
  border-color: black;
  border-style: solid;
  /* border-radius: 15px; */
  padding: 5px;
}
th {
  background-color: #cfcfcf;
  /* border-radius: 10px; */
  padding: 5px;
}
